body {
    margin: 0px;
    padding: 0px;
}

header {
    height: 70px ;
    background-image: url(../pattern.png);
    background-color: rgb(34, 156, 212);
    background-size: 270px;
    
}

.logo {
    width: 250px;
    
}


.testo1 {
    color: rgb(27, 201, 201);
}

.descrizione-foto {
    font-weight: bold;
    font-size: 12px;
}

.testo principale {
    font-weight: bold;
    text-align: left;

}

.testo-lungo{
    font-weight: bold;
}

.giallo  {
    background-color: yellow;

}    

table {
    border-collapse: 
}
.tabella  {
    text-align: ;
}

.tabella1{
    background-color: lightskyblue;
    
}

.tabella2 {
    background-color: lightcyan;
}

.colonna1 {
    width: 33%;
    text-align: center;
    font-weight: bold;
}

.colonna2 {
    width: 33%;
    text-align: center;
    font-weight: bold;
}

.colonna3 {
    width: 33%;
    text-align: center;
    font-weight: bold;
}

.conclusioni {
    color: grey;

}

.lorem1 {
    margin: 0px;
    background-image: url(../graph.png);
    background-repeat: no-repeat;
    font-size: 140%;
    font-weight: normal;
    text-align: center;
}

.lorem2 {
    background-image: url(../monitor.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    
}